name: Deploy Dev schemas

on:
  workflow_call:
    inputs:
      commit-sha:
        required: true
        type: string
        description: Commit SHA
      pull-request-number:
        required: true
        type: string
        description: Pull request number
      branch:
        required: true
        type: string
        description: Branch

jobs:
  release:
    name: Apply schemas
    runs-on: ubuntu-latest
    env:
      ENV: dev
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.MERGE_BOT_APP_ID }}
          private_key: ${{ secrets.MERGE_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate_token.outputs.token }}
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of personal token
          fetch-depth: 0 # otherwise, it will fail to push refs to dest repo
          # ref: ${{ inputs.commit-sha }}

      - name: Initialize git config
        run: |
          git config --global user.name "nexera-release[bot]"
          git config --global user.email "137495321+nexera-release[bot]@users.noreply.github.com"

      - name: Install dependencies
        shell: bash
        run: |
          wget -O /usr/local/bin/semver https://raw.githubusercontent.com/fsaintjacques/semver-tool/master/src/semver
          chmod +x /usr/local/bin/semver
          semver --version

      - name: Versions
        id: versions
        shell: bash
        run: |
          # Go through all files in the polygon-id/ folder
          for file in $(find polygon-id/ -type f -name "*.json"); do
            echo "JSON file: $file"
            
            current=$(cat $file | jq -r '.["$metadata"].version')
            target=$(semver bump patch "$current")
            
            echo "$current"
            echo "$target"
            
            # Set the json file path
            replacement=".json"
            json_file_path="${file/.json/$replacement}"
            echo "JSON file: $json_file_path"
            
            # Perform update
            jq '.["$metadata"].version = "'"$target"'"' "$json_file_path" > temp.json && mv temp.json "$json_file_path"
          done

      - name: Copy schemas to IPFS directory
        continue-on-error: true
        shell: bash
        run: |
          rm -rf ipfs/
          mkdir ipfs
          touch ipfs/.gitkeep
          cp -r polygon-id/* ipfs/
          ls -al ipfs/
          ls -R ipfs/

      - name: Upload jsonID to IPFS and replace uris with hash in json schemas
        shell: bash
        run: |
          # Find all jsonLD files in the ipfs/ folder
          for file in $(find ipfs/ -type f -name "*.jsonld"); do
            echo "JsonLD file: $file"

            # Upload json
            response=$(curl --location "https://api.quicknode.com/ipfs/rest/v1/s3/put-object" -X POST -F Body=@"$file" -F Key="$file" -F ContentType="application/json" -H "x-api-key: ${{ secrets.QUICKNODE_API_KEY }}")
            echo "$response"
          
            # Parse HASH from uploaded file
            ipfs_hash=$(echo "$response" | jq -r '.pin.cid')
            echo "$ipfs_hash"

            # Set the json file path
            replacement=".json"
            json_file_path="${file/.jsonld/$replacement}"
            echo "JSON file: $json_file_path"

            # Perform update
            jq '.["$metadata"].uris.jsonLdContext = "https://quicknode.quicknode-ipfs.com/ipfs/'"$ipfs_hash"'"' "$json_file_path" > temp.json && mv temp.json "$json_file_path"
          done

      - name: Update branch protection for bot commit
        shell: bash
        run: |
          curl -s -L -o /dev/null \
            -X PUT \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.MERGE_BOT_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -d '{
            "required_status_checks":null,
            "enforce_admins":false,
            "required_pull_request_reviews":{
            "dismissal_restrictions":{},
            "dismiss_stale_reviews":false,
            "require_code_owner_reviews":true,
            "required_approving_review_count":1,
            "require_last_push_approval":false,
            "bypass_pull_request_allowances":{"apps":["nexera-release"],"teams":[],"users":[]}},
            "restrictions":null,
            "required_linear_history":false,
            "allow_force_pushes":false,
            "allow_deletions":false,
            "block_creations":false,
            "required_conversation_resolution":false,
            "lock_branch":false,
            "allow_fork_syncing":true
            }' \
            https://api.github.com/repos/NexeraProtocol/vc-schemas/branches/development/protection

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          branch: 'development'
          message: 'chore: Update IPFS schemas'
          author_name: 'nexera-release[bot]'
          author_email: '137495321+nexera-release[bot]@users.noreply.github.com'

      - name: Update branch protection
        shell: bash
        run: |
          curl -s -L -o /dev/null \
            -X PUT \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.MERGE_BOT_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -d '{
            "required_status_checks":null,
            "enforce_admins":true,
            "required_pull_request_reviews":{
            "dismissal_restrictions":{},
            "dismiss_stale_reviews":false,
            "require_code_owner_reviews":true,
            "required_approving_review_count":1,
            "require_last_push_approval":false,
            "bypass_pull_request_allowances":{"apps":["nexera-release"],"teams":[],"users":[]}},
            "restrictions":null,
            "required_linear_history":false,
            "allow_force_pushes":false,
            "allow_deletions":false,
            "block_creations":false,
            "required_conversation_resolution":false,
            "lock_branch":false,
            "allow_fork_syncing":true
            }' \
            https://api.github.com/repos/NexeraProtocol/vc-schemas/branches/development/protection


      - name: Upload schemas to Polygon issuer
        shell: bash
        run: |
          for file in $(find ipfs/ -type f -name "*.json"); do
            echo "JSON file: $file"
            version=$(cat "$file" | jq -r '.["$metadata"].version')
            echo "$version"

            schema=$(cat "$file" | jq -r '.["$metadata"].type')
            echo "$schema"

            response=$(curl --location "https://api.quicknode.com/ipfs/rest/v1/s3/put-object" -X POST -F Body=@"$file" -F Key="$file" -F ContentType="application/json" -H "x-api-key: ${{ secrets.QUICKNODE_API_KEY }}")
            echo "$response"
          
            # Parse HASH from uploaded file
            ipfs_hash=$(echo "$response" | jq -r '.pin.cid')
            echo "$ipfs_hash"

            curl -X POST "https://mumbai-issuer-node-dev.nexera.id/v1/schemas" \
              -H "accept: application/json" \
              -H "content-type: application/json" \
              -u "${{ secrets.ISSUER_NODE_USERNAME_DEV }}:${{ secrets.ISSUER_NODE_PASSWORD_DEV }}" \
              -d "{\"url\":\"https://quicknode.quicknode-ipfs.com/ipfs/${ipfs_hash}\",\"schemaType\":\"${schema}\",\"version\":\"${version}\"}"
          done
