name: Deploy prod schemas

on:
  workflow_call:
    inputs:
      commit-sha:
        required: true
        type: string
        description: Commit SHA
      pull-request-number:
        required: true
        type: string
        description: Pull request number
      branch:
        required: true
        type: string
        description: Branch

jobs:
  release:
    name: Apply schemas
    runs-on: ubuntu-latest
    env:
      ENV: prod
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Upload schemas to Polygon issuer
        shell: bash
        run: |
          for file in $(find ipfs/ -type f -name "*.json"); do
            echo "JSON file: $file"
            version=$(cat "$file" | jq -r '.["$metadata"].version')
            echo "$version"

            schema=$(cat "$file" | jq -r '.["$metadata"].type')
            echo "$schema"
          
            response=$(curl --location "https://api.quicknode.com/ipfs/rest/v1/s3/put-object" -X POST -F Body=@"$file" -F Key="$file" -F ContentType="application/json" -H "x-api-key: ${{ secrets.QUICKNODE_API_KEY }}")
            echo "$response"
          
            # Parse HASH from uploaded file
            ipfs_hash=$(echo "$response" | jq -r '.pin.cid')
            echo "$ipfs_hash"

            curl -X POST "https://mumbai-issuer-node-prod.nexera.id/v1/schemas" \
              -H "accept: application/json" \
              -H "content-type: application/json" \
              -u "${{ secrets.ISSUER_NODE_USERNAME_PROD }}:${{ secrets.ISSUER_NODE_PASSWORD_PROD }}" \
              -d "{\"url\":\"https://quicknode.quicknode-ipfs.com/ipfs/${ipfs_hash}\",\"schemaType\":\"${schema}\",\"version\":\"${version}\"}"

            curl -X POST "https://amoy-issuer-node-prod.nexera.id/v1/schemas" \
              -H "accept: application/json" \
              -H "content-type: application/json" \
              -u "${{ secrets.ISSUER_NODE_USERNAME_PROD }}:${{ secrets.ISSUER_NODE_PASSWORD_PROD }}" \
              -d "{\"url\":\"https://quicknode.quicknode-ipfs.com/ipfs/${ipfs_hash}\",\"schemaType\":\"${schema}\",\"version\":\"${version}\"}"

            curl -X POST "https://issuer-node.nexera.id/v1/schemas" \
              -H "accept: application/json" \
              -H "content-type: application/json" \
              -u "${{ secrets.ISSUER_NODE_USERNAME_PROD_MAINNET }}:${{ secrets.ISSUER_NODE_PASSWORD_PROD_MAINNET }}" \
              -d "{\"url\":\"https://quicknode.quicknode-ipfs.com/ipfs/${ipfs_hash}\",\"schemaType\":\"${schema}\",\"version\":\"${version}\"}"
          done
